<div class="jumbotron text-center" style="color: #020401; background-color:#27b39e ;">
  <img class="logo" src="/img/logo.png">
  <h1 class="display-3">About Us</h1>
  <p class="lead">We Help In Innovation
    A bunch of developers, outstanding designers with years of experience in building high quality applications for
    enterprises and startups using cutting edge technology and develop economic solution for their product with endless
    support.</p>
</div>